.component-page-hierarchy,
.component-page-hierarchy-item,
.component-page-hierarchy-sub-item {
    .depth-chart {
        display: block;
        margin: auto;
        max-width: 250px;
        width: 75vw;
    }
}